* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: #f5b45e;
  

  
}

header {
padding: 0%;
width: 100%;
height: 100%;
background: #acacac;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(0, 0%, 95%, 0.459), hsla(0, 0%, 20%, 0.664)), url(/img/main.jpg);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(0, 0%, 45%, 0.459), hsla(300, 0%, 41%, 0.664)), url(/img/main.jpg);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
position:sticky;
}

.wave{
position: relative;
bottom: 0;
width: 100%;
}

h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:90;
}


nav {
  float:center;
padding-left: 20%;
}
 
nav ul{

background-color:#bfa25e ;/*color de fondo con color picker*/
width: 100%;
list-style-type: none;/*si coloca numero o punto a la lista*/
text-align: center;/*centra la lista*/
}

nav ul li { /*/*/
  
  float:inline-start;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
}
.chefH img{/* neon imagen logo*/
  width: 900;
  height: 800;
  background-image: url(https://img.freepik.com/fotos-premium/mesa-cocina-vacia-fondo-cocina-borroso-mesa-aislada-espacio-productos-alimentos_667286-338.jpg?size=338&ext=jpg&ga=GA1.1.1687694167.1714694400&semt=sph);
  border-radius: 10%;
  box-shadow:inset 0 0 20px #ffff  , 0 0 50px#8d4925;
}   

nav ul li a {
  font-size: 50%;
  display:grid;
  padding: 100px;
  color: #fffcfc;
  text-decoration:solid;
 
}
nav ul li a:hover {
 
 scale: 150%;
   
}
.chefH {margin: auto;
  padding: 1%;
  display:grid;
  place-items: center;
  object-fit:cover;
}


.eventos img{

  width: 25rem;
  height: 25rem;
  border-radius: 5%;/*coloca un borde curvo a la imagen */
  object-fit:cover;/* imagen se adapta al contenido*/
  display:flex;
  
  place-items: center;
  
  }
.even {
      padding: 10;
      display:flex;
      place-items: center;

  }
.eventos{
  padding: auto;
  margin: auto;
  text-align: center;
  min-width: 300px;
  flex:1;
}
h2{
  font-size: 300%;
  display:grid;
}
.contenido{
  display: flex;
  margin: 60px;
}
.articulos{
  width: 80%;
 
}
.secciones{
  display: flex;
  align-items:flex-start;
  padding: 10%;

}

.imgcht{

      display:flexbox;
}
  
footer img{
display: flexbox;
width:20rem;
border-radius: 50%;
object-fit:cover;

}


.cards{
display: flex;
justify-content:space-around;
}

.cards .card{
display: flex;
width: 46%;
height: 200px;
align-items: center;
justify-content: space-evenly;
border-radius: 5px;
}
.cards .card:hover{

scale: 110%;

}
.cards .card img{
width: 100px;
height: 100px;
object-fit: cover;
border: 3px solid #fff;
border-radius: 50%;
display: block;
}

.cards .card > .contenido-texto-card{
width: 60%;
color: #fff;
}

.cards .card > .contenido-texto-card p{
font-weight: 300;
padding-top: 5px;
}



main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3{
  margin-bottom: 15px;
}

.contenido-textos h3 span{
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
  gap: 10px;
}

.contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  gap: 10px; ;
}
#menureceta .eventos{
border-radius: 50;
width: 5rem;
height: 10rem;
padding: 10rem;

display:grid;

}

/* estoy probando grid en la seccion recetas */
.container{
  display: grid;
  background-image:url(img/fondo\ madera.avif);
  grid-template-columns: 30% 70%;
  grid-template-rows: 300px;
}
 .itemA{
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
 }
 .itemB{
  text-align:right;
  padding: 10px;
  margin: 10px;
  background-color:#f5b45e;
  border-style:groove;
  font-size: 25px;
  text-align: center;

 }
 .itemc{
  background-color:#8d4925;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 25px;
 }
 .itemD{
  background-color:#f5b45e;
  margin: 10px;
 }
 .itemE{
  background-color:#f5b45e;
  text-align:center;
  margin: 10px;
 }
 .itemF{
  background-color:#f5b45e;
  text-align:center;
  margin: 10px;
 }
 .itemG{
  background-color:#f5b45e;
  text-align:center;
  margin: 10px;
 }
 .itemH{
  background-color:#f5b45e;
  text-align:center;
  margin: 10px;
 }
 .itemI{
  background-color:#f5b45e;
  text-align:center;
  margin: 10px;
 }
 .itemJ{
  background-color: #f5b45e;
  margin: 10px;
 }
 .itemK{
  background-color: #f5b45e;
  margin: 10px;
  text-align: center;
 }
 
